<!DOCTYPE html>

<html>
    <head>
        <title>:(</title>
        <link rel="stylesheet" href="../static/navBar.css">
    </head>
    <div class="topnav">
        <div class="intopnav">
        <a class="inactive" href="/">Home</a>
        <a class="active" href="addPage.html">Add Item</a>
        <a class="inactive" href="deleteOrEdit.html">Edit/Delete</a>
        <a class="inactive" href="SearchPage.html">Search</a>
    </div>
    </div>
    <br>

    <body style = "background-color:aliceblue">
        <h4 style = "text-align: center;">The member could not be added to the database.</h4><br/>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5 style = "text-align: center;">{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form action = "/">
            <button type = "submit" style = "margin-left: 47%;">Back to Home?</button>
        </form>
        <br/>
        <form action = "/addPage.html">
            <button type = "submit" style = "margin-left: 45.5%;">Add Another Member?</button>
        </form>
    </body>
</html>